.header__container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: $colour-search;
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);

}


.menu__container{
    @include global-container;
}

.banniere__container{
    @include global-container;
    position: absolute;
    align-items: center;
    bottom: 0;
    height:70px;
    width:100%;
    background: $colour-section;
    border-radius: $heading_border_radius ;
    @media (min-width:545px){
        height: 50px;
        border-radius: 0px;;
        justify-content: center;
        h2{
            margin-right: 30px;
        }
    }
    @media (min-width:760px){
        height: 50px;
        border-radius: 0px;;
        justify-content: center;
        h2{
            margin-right: 30px;
        }
    }
}

.header__menu__container{
    display: flex;
    height: 63px;
    max-width: 375px;
    margin: auto;
}
@media (min-width: 700px){
.rest__container__elt1{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.rest__container__elt2{
    display: flex;
    justify-content: space-around;
}
}