.container{
    display: flex;
    justify-content: space-between;
}

.header__container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lab__container{
    height: 77px;
    background: #ffff;
    margin-bottom: 18px;
    border-radius: 0px 0px 20px 20px;
    &__elt1{
        padding-left: 13px;
        padding-top: 18px;
    }
    &__elt2{
        padding-right: 25px;
        padding-top: 25px;
    }
    &__last{
        height: 77px;
        background: #ffff;
        border-radius: 0px 0px 20px 20px;

    }
}
