.header__logo__menu{
    height:63px;
    margin-left: 75px;
    margin-top: 10px;
    font-size: 1.8rem;
}

.header__container{  
    &__input{
        padding-left: 17px;
    }
    &__icone{
        padding-left: 30px;
    }
}

.header__arrow{
    margin-left: 23px;
    margin-top: 22px;
}
