.banniere__container{
    &__heading{
        padding-left: 20px;
        font-size: 1.8rem;
    }
    &__heart{
        padding-right: 37px;
    }

}
.menu{
    height:1110px;
    &__title{
    font-weight: lighter;
    font-size: 0.9rem;
    margin-left: 20px;
    padding-top: 15px;
    &--dess{
        padding-top: 25px ;
    }
    }
    &__underligne{
        width: 40px;
        height: 2px;
        background: $colour-tertiary;
        margin-left: 20px;
        margin-bottom: 15px;
    }
    &__food{
        background: white;
        width: 338px;
        margin: auto;
        padding-top: 15px;
        padding-left: 12px;
        border-radius: 20px 20px 20px 20px;  
        box-shadow: $shadow-values;  
    }
    &--ench{
        height: 1180px;
    }
}
h4{
    font-weight: normal;
    font-size: 1rem;
    padding-bottom: 3px;
}
.menu__container{
    font-weight: lighter;
    padding-bottom: 15px;
    margin-bottom: 15px;
    &__price{
        font-weight: normal;
        padding-right: 22px;
    }
}

.menu__container p:nth-child(1){
    width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn{
    position: relative;
    &__order{
        color:#ffff;
        background: linear-gradient($colour-secondary, $colour-primary);
        border-radius: 30px;
        padding: 15px 50px 15px 50px;
        z-index: 1;
        position: absolute;
        top:30px;
        left:23%;
        box-shadow: $btn-shadow-values;
        &:hover{
            &::after {
                opacity: 1;
            }
        }
        &::after {
            content: "";
            border-radius: 30px;
            position: absolute;
            background: linear-gradient(lighten($colour-secondary, 5), lighten($colour-primary, 5));
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            z-index: -1;
            transition: opacity 250ms;


        }
    }
}
.footer__heading--menu{
    margin-top: 183px;
}

.bloc_page--menus{
    animation: appear linear 400ms;
}

@keyframes appear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes trans{
    0%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0);
    }
}
.menu__title--entree{
    animation: appear linear 50ms both, trans linear 150ms;
    animation-delay: 200ms;
    opacity: 0;
    transform: translateY(0);

}

.menu__title--plats{
    animation: appear linear 50ms both,trans linear 250ms;
    animation-delay: 400ms;
    opacity: 0;

}

.menu__title--dess{
    animation: appear linear 50ms both,trans linear 350ms;
    animation-delay: 600ms;
    opacity: 0;

}