@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
}

.bloc_page {
  max-width: 374px;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

h1 {
  text-align: center;
}

img {
  width: 100%;
}

p {
  font-size: 0.95rem;
}

body {
  font-family: "Roboto", sans-serif;
}

.header__logo {
  font-family: "Shrikhand", cursive;
}

.footer__heading {
  font-family: "Shrikhand", cursive;
}

.header__logo__menu {
  font-family: "Shrikhand", cursive;
}

.banniere {
  font-family: "Shrikhand", cursive;
}

.header__logo__menu {
  height: 63px;
  margin-left: 75px;
  margin-top: 10px;
  font-size: 1.8rem;
}

.header__container__input {
  padding-left: 17px;
}
.header__container__icone {
  padding-left: 30px;
}

.header__arrow {
  margin-left: 23px;
  margin-top: 22px;
}

.footer {
  padding-left: 25px;
  color: #ffff;
  background: #353535;
}
.footer__heading {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 1.2rem;
}
.footer__bullet > li {
  padding-bottom: 7px;
}
.footer__bullet__icon {
  padding-right: 12px;
}
.footer__bullet__icon2 {
  padding-right: 5px;
}

footer a {
  color: white;
}

#footer__bullet__lst {
  padding-bottom: 37px;
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #eaeaea;
  box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.4);
}

.menu__container {
  display: flex;
  justify-content: space-between;
}

.banniere__container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  align-items: center;
  bottom: 0;
  height: 70px;
  width: 100%;
  background: #f6f6f6;
  border-radius: 30px 30px 0px 0px;
}

.header__menu__container {
  display: flex;
  height: 63px;
}

.banniere__container__heading {
  padding-left: 20px;
  font-size: 1.8rem;
}
.banniere__container__heart {
  padding-right: 37px;
}

.menu {
  height: 1110px;
}
.menu__title {
  font-weight: lighter;
  font-size: 0.9rem;
  margin-left: 20px;
  padding-top: 15px;
}
.menu__title--dess {
  padding-top: 25px;
}
.menu__underligne {
  width: 40px;
  height: 2px;
  background: #99E2D0;
  margin-left: 20px;
  margin-bottom: 15px;
}
.menu__food {
  background: white;
  max-width: 338px;
  max-height: 50px;
  margin: auto;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-left: 12px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 6px 12px -2px #d7d0d0;
}
.menu__food:hover {
  cursor: pointer;
  animation: test linear;
}
.menu__food:hover .check {
  display: block;
  cursor: pointer;
  animation: test 800ms forwards;
}
.menu__food--big {
  background: white;
  max-width: 338px;
  max-height: 70px;
  margin: auto;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-left: 12px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 6px 12px -2px #d7d0d0;
}
.menu__food--big:hover {
  cursor: pointer;
  animation: test linear;
}
.menu__food--big:hover .check--big {
  display: block;
  cursor: pointer;
  animation: test 800ms forwards;
}
.menu--ench {
  height: 1180px;
}

h4 {
  font-weight: normal;
  font-size: 1rem;
  padding-bottom: 3px;
}

.menu__container {
  font-weight: lighter;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.menu__container__price {
  font-weight: normal;
  padding-right: 22px;
}

.menu__container p:nth-child(1) {
  width: 270px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn {
  position: relative;
}
.btn__order {
  color: #ffff;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  padding: 15px 50px 15px 50px;
  z-index: 1;
  position: absolute;
  top: 30px;
  left: 23%;
  box-shadow: 1px 1px 7px #767575;
}
.btn__order:hover::after {
  opacity: 1;
}
.btn__order::after {
  content: "";
  border-radius: 30px;
  position: absolute;
  box-shadow: 1px 1px 7px #656464;
  background: linear-gradient(#ff93e1, #a16be0);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

.footer__heading--menu {
  margin-top: 183px;
}

.bloc_page--menus {
  animation: appear linear 400ms;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes trans {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}
.menu__title--entree {
  animation: appear linear 50ms both, trans linear 150ms;
  animation-delay: 200ms;
  opacity: 0;
  transform: translateY(0);
}

.menu__title--plats {
  animation: appear linear 50ms both, trans linear 250ms;
  animation-delay: 400ms;
  opacity: 0;
}

.menu__title--dess {
  animation: appear linear 50ms both, trans linear 350ms;
  animation-delay: 600ms;
  opacity: 0;
}

.check {
  position: relative;
  display: none;
  width: 60px;
  background: #99E2D0;
  transform-origin: right;
  transform: scaleX(0);
  top: -38px;
  border-radius: 0px 20px 20px 0px;
  height: 67px;
}

.check--big {
  position: relative;
  display: none;
  width: 60px;
  height: 86px;
  top: -57px;
  background: #99E2D0;
  transform-origin: right;
  transform: scaleX(0);
  border-radius: 0px 20px 20px 0px;
}

.check__icon {
  position: absolute;
  top: 39%;
  display: inline-block;
  width: 100%;
  color: #ffff;
  text-align: center;
}

@keyframes test {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
.header__logo {
  height: 65px;
  line-height: 65px;
}

input {
  background: #eaeaea;
  border: #eaeaea;
  outline: none;
  font-size: 1rem;
}

.pres, .lab {
  background: #f6f6f6;
}

.pres {
  height: 288px;
  text-align: center;
  position: relative;
}
.pres__heading {
  padding-top: 44px;
  padding-bottom: 20px;
  font-size: 1.7rem;
}
.pres__p {
  margin-bottom: 31px;
}
.pres__btn {
  color: #ffff;
  box-shadow: 1px 1px 7px #767575;
  width: 180px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  padding: 15px 23px 15px 23px;
  z-index: 1;
  position: absolute;
  left: 20%;
  top: 67%;
}
.pres__btn:hover::after {
  opacity: 1;
}
.pres__btn::after {
  content: "";
  border-radius: 30px;
  position: absolute;
  box-shadow: 1px 1px 7px #656464;
  background: linear-gradient(#ff93e1, #a16be0);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

.fonct {
  background: #ffff;
  position: relative;
}
.fonct__heading {
  padding-top: 53px;
  padding-left: 21px;
}
.fonct__bullet > li {
  height: 72px;
  max-width: 325px;
  line-height: 72px;
  margin: 23px auto 23px auto;
  border-radius: 30px;
  background: #f6f6f6;
  box-shadow: 0px 6px 12px -2px #d7d0d0;
}
.fonct__bullet > li:hover {
  background-color: #f5edff;
}
.fonct__bullet > li:hover .fonct__icone {
  color: #9356DC;
}

.fonct__icone {
  position: absolute;
  top: 2px;
}

.nber {
  position: relative;
  right: 10px;
  padding: 4px 9px 4px 9px;
  border-radius: 300px;
  background: #9356DC;
}

.text {
  padding-left: 35px;
}

.text__bis {
  padding-left: 30px;
}

.fonct__icone {
  color: grey;
  position: relative;
  left: 10px;
}

.lab {
  padding-bottom: 64px;
}
.lab__heading {
  padding-top: 59px;
  padding-left: 21px;
  padding-bottom: 28px;
}
.lab__block {
  position: relative;
  max-width: 335px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px 20px;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.35);
}
.lab__block__new {
  position: absolute;
  right: 12px;
  top: 15px;
  background: #99E2D0;
  height: 30px;
  line-height: 30px;
  width: 80px;
  text-align: center;
  color: #008766;
}
.lab__block__img {
  display: block;
  border-radius: 20px 20px 0px 0px;
}

.color1 {
  stop-color: #9356DC;
}

.color2 {
  stop-color: #FF79DA;
}

.lab__container {
  position: relative;
  height: 77px;
  background: #ffff;
  margin-bottom: 18px;
  border-radius: 0px 0px 20px 20px;
}
.lab__container__elt1 {
  padding-left: 13px;
  padding-top: 18px;
}
.lab__container__elt2__svg__empty {
  position: absolute;
  right: 25px;
  top: 22px;
  fill: #ffff;
  stroke: #000000;
}
.lab__container__elt2__svg__empty:hover {
  opacity: 0;
}
.lab__container__elt2__svg {
  position: absolute;
  fill: url(#gradient);
  stroke: url(#gradient);
  right: 25px;
  top: 22px;
  opacity: 0;
}
.lab__container__elt2__svg:hover {
  opacity: 1;
  transition: opacity 700ms;
}

h3 {
  padding-bottom: 3px;
}

h3 + p {
  font-size: 1.1rem;
}

.for_spinner {
  background-color: #ffff;
  animation: change_color 3500ms;
}

@keyframes change_color {
  0%, 90% {
    background: linear-gradient(#c9abee, #ffdff6);
  }
  100% {
    background: #ffff;
  }
}
.bloc_page--spinner {
  transform: scale(1);
  animation: show 3500ms;
  transform-origin: top;
  position: relative;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 0em;
  height: 0em;
  animation-fill-mode: both;
  animation: loading 1.8s 5 ease-in-out, volume 3500ms;
  transform: scale(0);
}

.loader {
  color: #ae80e5;
  position: absolute;
  top: 35%;
  left: 47%;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}

.loader:after {
  left: 3.5em;
}

@keyframes loading {
  0%, 80%, 100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes volume {
  0%, 90% {
    width: 2.5em;
    height: 2.5em;
    transform: scale(1);
  }
  100% {
    width: 0em;
    height: 0em;
    transform: scale(0);
  }
}
@keyframes show {
  0%, 90% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.banniere {
  position: relative;
  height: 300px;
}

.banniere--delice {
  background: url("../../public/img/rest_delice_sens.jpg") no-repeat;
}

.banniere {
  position: relative;
  height: 300px;
}

.banniere--enchantee {
  background: url("../../public/img/rest_note_enchantee.jpg") no-repeat;
}

.banniere {
  position: relative;
  height: 300px;
}

.banniere--française {
  background: url("../../public/img/rest_française.jpg") no-repeat;
}

section {
  background: #f6f6f6;
}

.banniere {
  position: relative;
  height: 300px;
}

.banniere--palette {
  background: url("../../public/img/rest_palette_gout.jpg") no-repeat;
}

/*# sourceMappingURL=style.css.map */
