*
{
    padding:0px;
    margin:0px;
}
#bloc_page{
    max-width: 374px;
    margin: auto;
}

a{
    text-decoration: none;
    color:black;
}

li{
    list-style-type: none;
}

.header__logo__menu{
    height:63px;
    margin-left: 75px;
    margin-top: 10px;
    font-size: 1.8rem;
}

h1{
    text-align: center;
}

.header__arrow{
    margin-left: 23px;
    margin-top: 22px;
}

.banniere__heading{
    position: absolute;
    bottom: 0;
    height:70px;
    width:100%;
    background: $colour-section;
    border-radius: $heading_border_radius ;

}