*
{
    padding:0px;
    margin:0px;
}
#bloc_page{
    max-width: 374px;
    margin: auto;
}

a{
    text-decoration: none;
    color:black;
}

li{
    list-style-type: none;
}

h1{
    text-align: center;
}
img{
    width: 100%;
}
p{
    font-size: 1rem;
}