body{
    font-family: 'Roboto', sans-serif;
}

.header__logo{
    font-family: 'Shrikhand', cursive;
}

.footer__heading{
    font-family: 'Shrikhand', cursive;
}
.header__logo__menu{
    font-family: 'Shrikhand', cursive;
}

.banniere{
    font-family: 'Shrikhand', cursive;

}
