.header__logo{
    height: 65px;
    line-height: 65px;
}
input{
    background: $colour-search;
    border: $colour-search;
    outline: none;
    font-size: 1rem;
}

.pres, .lab{
    background: $colour-section;
}

.pres{
    height: 288px;
    text-align: center;
    position: relative;
    &__heading{
        padding-top: 44px;
        padding-bottom: 20px;
        font-size: 1.7rem;
    }
    &__p{
        margin-bottom: 31px;
    }
    &__btn{
        color:#ffff;
        box-shadow: $btn-shadow-values;
        width:180px;
        background: linear-gradient($colour-secondary, $colour-primary);
        border-radius: 30px;
        padding: 15px 23px 15px 23px;
        z-index: 1;
        position: absolute;  
        left: 20%;    
        top:67%;
        &:hover{
            &::after {
                opacity: 1;
            }
        }
        &::after {
            content: "";
            border-radius: 30px;
            position: absolute;
            background: linear-gradient(lighten($colour-secondary, 5), lighten($colour-primary, 5));
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            z-index: -1;
            transition: opacity 250ms;


        }
    }
}
.fonct{
    background: #ffff;
    position: relative;
    &__heading{
        padding-top:53px;
        padding-left: 21px;
    }
    &__bullet > li{
        height:72px;
        max-width: 325px;
        line-height: 72px;
        margin: 23px auto 23px auto;
        border-radius: 30px;
        background: $colour-section;
        box-shadow: $shadow-values;
        &:hover{
            background-color: $colour-hover;
            .fonct__icone{
                color:$colour-primary;
            }
        }
    }
}
.fonct__icone{
    position: absolute;
    top: 2px;

}
.nber{
    position: relative;
    right: 10px;

    padding: 4px 9px 4px 9px;
    border-radius: 300px;
    background: $colour-primary;
}
.text{
    padding-left: 35px;
}
.text__bis{
    padding-left: 30px;
}
.fonct__icone{
    color:grey;
    position: relative;
    left: 10px;
}

.lab{
    padding-bottom: 64px;
    &__heading{
        padding-top:59px;
        padding-left: 21px;
        padding-bottom: 28px;
    }
    &__block{
        position: relative;
        max-width: 335px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 20px 20px;
        box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.35);
    }
    &__block__new{
        position: absolute;
        right: 12px;
        top: 15px;
        background: $colour-tertiary;
        height: 30px;
        line-height: 30px;
        width:80px;
        text-align: center;
        color: $colour-new;
    }
    &__block__img{
        display: block;
        border-radius: 20px 20px 0px 0px;
        
    }
}
.color1{ stop-color: $colour-primary;}
.color2{ stop-color: $colour-secondary;}
.lab__container{
    position: relative;
    height: 77px;
    background: #ffff;
    margin-bottom: 18px;
    border-radius: 0px 0px 20px 20px;
    &__elt1{
        padding-left: 13px;
        padding-top: 18px;
    }
    &__elt2__svg__empty{
        position: absolute;
        right: 25px;
        top: 22px;
        fill: #ffff;
        stroke: #000000;
        &:hover{
            opacity: 0;
        }
    }
    &__elt2__svg{
        position: absolute;
        fill: url(#gradient);
        stroke: url(#gradient);
        right: 25px;
        top: 22px;
        opacity: 0;
        &:hover{
        opacity: 1;
        transition: opacity 700ms;
        }
    }
}

h3{
    padding-bottom:3px;
}
h3 + p{
    font-size: 1.1rem;
}




.for_spinner{
background-color: #ffff;
animation: change_color 3500ms;
}
@keyframes change_color{
    0%,90%{
    background: linear-gradient(lighten($colour-primary, 20), lighten($colour-secondary, 20));
    }
    100%{
        background: #ffff;
    }
}
    .bloc_page--spinner{
        transform: scale(1);
        animation: show 3500ms;
        transform-origin: top;
        position: relative;
      }
   
      .loader,
      .loader:before,
      .loader:after {
        border-radius: 50%;
        width: 0em;
        height: 0em;
        animation-fill-mode: both;
        animation: loading 1.8s 5 ease-in-out, volume 3500ms;
        transform: scale(0);
      }
      .loader {
        color: lighten($colour-primary, 10);
        position: absolute;
        top:35%;
        left:47%;
        animation-delay: -0.16s;
      }
      .loader:before,
      .loader:after {
        content: '';
        position: absolute;
        top: 0;
      }
      .loader:before {
        left: -3.5em;
        animation-delay: -0.32s;
      }
      .loader:after {
        left: 3.5em;
      }
      
      @keyframes loading {
        0%,
        80%,
        100% {
          box-shadow: 0 2.5em 0 -1.3em;
        }
        40% {
          box-shadow: 0 2.5em 0 0;
        }
      }
      

    @keyframes volume{
        0%, 90%{ width: 2.5em;
          height: 2.5em;
          transform: scale(1);
      
        }
        100%{
          width: 0em;
          height: 0em;
          transform: scale(0);
      
        }
      }
      @keyframes show{
        0%,90%{
            transform: scale(0);
        }
        100%
        {
           transform: scale(1);
        }
      }
