

.banniere--française{
    @media (max-width:375px){
        background: url('../../public/img/rest_française.jpg') no-repeat;
    }
    @media (min-width:376px){
        background: url('../../public/img/française_587.jpg') no-repeat;
        background-position: center;

        

    }
    @media (min-width:426px){
        background: url('../../public/img/française_760.jpg') no-repeat;
        background-position: center;
        

    }
    @media (min-width:769px){
        background: url('../../public/img/française_high.jpg') no-repeat;
        background-position: center;
        

    }

    }
